# Customer Behavior Analysis

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\ds\lib\site-packages (9.2.0)

In [4]:
import mysql.connector as db

In [5]:
import pandas as pd

In [6]:
user = 'Feb_23'
passcode = 'qwerty'
host = 'localhost'
db_name = 'ds_ba'

# SQL DB Connection

In [7]:
sql_connection = db.connect(
    user = user,
    host = host,
    password = passcode,
    database = db_name
)

In [8]:
sql_connection

In [9]:
curr = sql_connection.cursor()

In [10]:
sql_1 = """
SELECT * FROM ds_ba.clean_customer_journey;
"""

In [11]:
curr.execute(sql_1)

In [12]:
data_row_journey = curr.fetchall()

In [13]:
data_row_journey

[(1, 64, 18, '6/10/2024', 'Checkout', 'Drop-off', 0),
 (2, 94, 11, '7/9/2025', 'Checkout', 'Drop-off', 0),
 (3, 34, 8, '6/14/2024', 'Product Page', 'View', 235),
 (4, 33, 18, '5/28/2025', 'Checkout', 'Drop-off', 0),
 (5, 91, 10, '2/11/2023', 'Homepage', 'Click', 156),
 (6, 54, 11, '12/19/2025', 'Homepage', 'View', 264),
 (7, 80, 4, '8/25/2023', 'Homepage', 'View', 298),
 (8, 99, 10, '7/3/2025', 'Product Page', 'View', 287),
 (9, 31, 4, '6/13/2025', 'Product Page', 'View', 278),
 (10, 44, 16, '4/23/2025', 'Product Page', 'View', 30),
 (11, 23, 12, '8/22/2023', 'Checkout', 'Drop-off', 0),
 (12, 97, 12, '7/28/2023', 'Product Page', 'View', 227),
 (13, 83, 5, '6/20/2024', 'Homepage', 'View', 223),
 (14, 14, 13, '11/1/2025', 'Product Page', 'View', 13),
 (15, 9, 1, '11/4/2025', 'Product Page', 'View', 292),
 (16, 14, 16, '7/17/2024', 'Homepage', 'View', 46),
 (17, 67, 2, '12/11/2025', 'Homepage', 'View', 185),
 (18, 70, 15, '10/13/2025', 'Homepage', 'View', 191),
 (19, 9, 1, '8/15/2024', 'Homepage', 'View', 187),
 (20, 44, 18, '2/19/2024', 'Product Page', 'View', 154),
 (21, 58, 20, '3/7/2024', 'Checkout', 'Drop-off', 0),
 (22, 12, 1, '11/19/2025', 'Homepage', 'Click', 20),
 (23, 58, 1, '7/5/2023', 'Homepage', 'View', 48),
 (24, 77, 6, '6/25/2025', 'Checkout', 'Drop-off', 0),
 (25, 75, 12, '11/23/2023', 'Product Page', 'View', 239),
 (26, 78, 20, '4/17/2024', 'Homepage', 'View', 129),
 (27, 36, 9, '8/10/2024', 'Homepage', 'View', 214),
 (28, 1, 20, '9/26/2025', 'Product Page', 'View', 64),
 (29, 12, 17, '6/1/2025', 'Homepage', 'View', 205),
 (30, 48, 2, '5/3/2023', 'Product Page', 'View', 242),
 (31, 81, 19, '4/4/2023', 'Homepage', 'View', 130),
 (32, 67, 11, '9/4/2023', 'Checkout', 'Drop-off', 0),
 (33, 2, 5, '8/10/2025', 'Homepage', 'View', 26),
 (34, 55, 15, '10/26/2023', 'Homepage', 'View', 233),
 (35, 60, 19, '6/21/2023', 'Homepage', 'Click', 162),
 (36, 17, 2, '11/20/2023', 'Checkout', 'Purchase', 137),
 (37, 38, 17, '6/18/2024', 'Checkout', 'Drop-off', 0),
 (38, 13, 18, '2/23/2023', 'Product Page', 'View', 227),
 (39, 63, 18, '8/10/2023', 'Product Page', 'View', 233),
 (40, 4, 12, '12/22/2024', 'Homepage', 'View', 110),
 (41, 92, 5, '11/23/2025', 'Product Page', 'View', 124),
 (42, 95, 10, '1/28/2025', 'Homepage', 'View', 172),
 (43, 21, 8, '3/14/2025', 'Homepage', 'View', 40),
 (44, 29, 3, '2/29/2024', 'Homepage', 'View', 193),
 (45, 94, 6, '6/7/2023', 'Product Page', 'View', 118),
 (46, 30, 19, '10/27/2025', 'Homepage', 'View', 210),
 (47, 30, 20, '2/18/2024', 'Checkout', 'Drop-off', 0),
 (48, 52, 13, '2/1/2025', 'Homepage', 'View', 241),
 (49, 93, 14, '4/9/2023', 'Homepage', 'Click', 69),
 (50, 5, 9, '4/19/2024', 'Homepage', 'View', 44),
 (51, 65, 8, '9/29/2025', 'Product Page', 'View', 272),
 (52, 15, 9, '8/7/2025', 'Checkout', 'Drop-off', 0),
 (53, 24, 4, '4/5/2024', 'Homepage', 'View', 182),
 (54, 9, 11, '11/19/2024', 'Checkout', 'Drop-off', 0),
 (55, 1, 7, '3/17/2024', 'Checkout', 'Drop-off', 0),
 (56, 97, 11, '12/20/2023', 'Homepage', 'Click', 234),
 (57, 52, 14, '12/2/2024', 'Homepage', 'View', 253),
 (58, 51, 20, '3/8/2025', 'Product Page', 'View', 174),
 (59, 32, 8, '8/19/2024', 'Homepage', 'View', 238),
 (60, 19, 6, '6/17/2025', 'Product Page', 'View', 190),
 (61, 69, 20, '7/12/2025', 'Homepage', 'Click', 14),
 (62, 42, 1, '10/22/2024', 'Homepage', 'View', 186),
 (63, 51, 15, '5/22/2025', 'Homepage', 'View', 139),
 (64, 86, 20, '7/3/2023', 'Product Page', 'View', 77),
 (65, 54, 10, '12/23/2023', 'Homepage', 'View', 101),
 (66, 52, 2, '11/16/2023', 'Homepage', 'Click', 242),
 (67, 25, 1, '5/21/2023', 'Product Page', 'Click', 57),
 (68, 45, 16, '4/29/2023', 'Product Page', 'Click', 250),
 (69, 82, 19, '2/21/2025', 'Product Page', 'Click', 158),
 (70, 75, 17, '7/7/2023', 'Homepage', 'View', 297),
 (71, 40, 20, '7/13/2023', 'Checkout', 'Drop-off', 0),
 (72, 47, 15, '8/23/2023', 'Homepage', 'Click', 34),
 (73, 20, 16, '9/17/2024', 'Homepage', 'View', 17),
 (74, 81, 13, '9/26/2024', 'Homepage', 'Click', 291),
 (75, 93, 1, '10/1/2024', 'Product Page', 'Click', 279),
 (76, 42, 17, '5/29/2025', 'Checkout', 'Purchase', 261),
 (77, 36, 4, '6/2/2023', 'Homepage', 'Click', 100),
 (78, 46, 17, '6/15/2025', 'Checkout', 'Purchase', 122),
 (79, 75, 10, '11/13/2023', 'Homepage', 'View', 244),
 (80, 64, 6, '4/6/2025', 'Homepage', 'Click', 161),
 (81, 89, 15, '10/27/2025', 'Checkout', 'Purchase', 246),
 (82, 64, 2, '6/7/2025', 'Homepage', 'Click', 261),
 (83, 54, 8, '1/18/2024', 'Product Page', 'Click', 83),
 (84, 79, 15, '3/9/2025', 'Checkout', 'Purchase', 48),
 (85, 56, 4, '5/26/2023', 'Homepage', 'Click', 166),
 (86, 83, 3, '9/6/2023', 'Homepage', 'View', 79),
 (87, 2, 2, '9/25/2023', 'Homepage', 'View', 277),
 (88, 15, 20, '12/18/2025', 'Homepage', 'View', 136),
 (89, 14, 9, '4/18/2025', 'Homepage', 'Click', 104),
 (90, 49, 8, '3/25/2025', 'Homepage', 'View', 248),
 (91, 99, 10, '12/7/2023', 'Homepage', 'Click', 244),
 (92, 88, 14, '3/9/2025', 'Homepage', 'View', 29),
 (93, 43, 8, '8/22/2023', 'Checkout', 'Drop-off', 0),
 (94, 15, 18, '9/20/2024', 'Homepage', 'Click', 143),
 (95, 60, 8, '9/14/2024', 'Homepage', 'View', 182),
 (96, 22, 9, '7/28/2024', 'Product Page', 'View', 212),
 (97, 92, 19, '5/26/2025', 'Homepage', 'View', 203),
 (98, 95, 8, '5/25/2025', 'Homepage', 'Click', 68),
 (99, 58, 16, '7/6/2024', 'Checkout', 'Purchase', 87),
 (100, 92, 10, '4/6/2024', 'Product Page', 'View', 237)]

In [14]:
curr.column_names

('JourneyID',
 'CustomerID',
 'ProductID',
 'VisitDate',
 'Stage',
 'Action',
 'Duration')

# Data Frame

In [15]:
customer_journey = pd.DataFrame(data_row_journey, columns=curr.column_names)

In [16]:
customer_journey

,JourneyID,CustomerID,ProductID,VisitDate,Stage,Action,Duration
0,1,64,18,6/10/2024,Checkout,Drop-off,0
1,2,94,11,7/9/2025,Checkout,Drop-off,0
2,3,34,8,6/14/2024,Product Page,View,235
3,4,33,18,5/28/2025,Checkout,Drop-off,0
4,5,91,10,2/11/2023,Homepage,Click,156
...,...,...,...,...,...,...,...
95,96,22,9,7/28/2024,Product Page,View,212
96,97,92,19,5/26/2025,Homepage,View,203
97,98,95,8,5/25/2025,Homepage,Click,68
98,99,58,16,7/6/2024,Checkout,Purchase,87
99,100,92,10,4/6/2024,Product Page,View,237

# Customer Drop-off Analysis

In [17]:
sql_2 = """
SELECT Stage, Action, 
COUNT(Action) AS Action_count
FROM ds_ba.clean_customer_journey
GROUP BY Stage, Action;
"""

In [18]:
curr.execute(sql_2)

In [19]:
Action_row = curr.fetchall()

In [20]:
Action_row

[('Checkout', 'Drop-off', 14),
 ('Product Page', 'View', 21),
 ('Homepage', 'Click', 17),
 ('Homepage', 'View', 37),
 ('Checkout', 'Purchase', 6),
 ('Product Page', 'Click', 5)]

In [21]:
curr.column_names

('Stage', 'Action', 'Action_count')

In [22]:
Action_count = pd.DataFrame(Action_row, columns=curr.column_names)

In [23]:
Action_count

          Stage    Action  Action_count
0      Checkout  Drop-off            14
1  Product Page      View            21
2      Homepage     Click            17
3      Homepage      View            37
4      Checkout  Purchase             6
5  Product Page     Click             5

In [24]:
sql_3 = """
SELECT Stage, COUNT(Action) AS DropOffCount
FROM ds_ba.clean_customer_journey
WHERE Action = 'Drop-off'
GROUP BY Stage;
"""

In [25]:
curr.execute(sql_3)

In [26]:
d_row = curr.fetchall()

In [27]:
d_row

[('Checkout', 14)]

In [28]:
curr.column_names

('Stage', 'DropOffCount')

In [29]:
Dropoff_count =  pd.DataFrame(d_row, columns=curr.column_names)

In [30]:
Dropoff_count

      Stage  DropOffCount
0  Checkout            14

# Average duration per stage for engagement insights

In [31]:
sql_4 ="""
SELECT Stage, 
AVG(Duration) AS Avg_Duration
FROM ds_ba.clean_customer_journey
GROUP BY Stage;
"""

In [32]:
curr.execute(sql_4)
duration_row = curr.fetchall()

In [33]:
curr.column_names

('Stage', 'Avg_Duration')

In [34]:
duration_row

[('Checkout', Decimal('45.0500')),
 ('Product Page', Decimal('182.7692')),
 ('Homepage', Decimal('160.5370'))]

In [35]:
Average_duration = pd.DataFrame(duration_row, columns=curr.column_names)

In [36]:
Average_duration

          Stage Avg_Duration
0      Checkout      45.0500
1  Product Page     182.7692
2      Homepage     160.5370

# Identify the Most Viewed Product Page

In [37]:
sql_5 = """
SELECT ProductID, COUNT(*) AS View_Count
FROM ds_ba.clean_customer_journey
WHERE Stage = 'Product Page' AND Action = 'View'
GROUP BY ProductID
ORDER BY View_Count DESC
LIMIT 1;
"""

In [38]:
curr.execute(sql_5)

In [39]:
view_row = curr.fetchall()

In [40]:
view_row

[(18, 3)]

In [41]:
curr.column_names

('ProductID', 'View_Count')

In [42]:
product_view =  pd.DataFrame(view_row, columns=curr.column_names)

In [43]:
product_view

   ProductID  View_Count
0         18           3

# Identify Top Performing Products

In [44]:
sql_6 = """
SELECT 
    ProductID, 
    COUNT(*) AS Total_Purchases,
    RANK() OVER (ORDER BY COUNT(*) DESC) AS Purchase_Rank
FROM ds_ba.clean_customer_journey
WHERE Action = 'Purchase'
GROUP BY ProductID
LIMIT 5;
"""

In [45]:
curr.execute(sql_6)

In [116]:
pur_row = curr.fetchall()

In [117]:
pur_row

[(17, 2, 1), (15, 2, 1), (2, 1, 3), (16, 1, 3)]

In [118]:
curr.column_names

('ProductID', 'Total_Purchases', 'Purchase_Rank')

In [119]:
Total_Purchases =  pd.DataFrame(pur_row, columns=curr.column_names)

In [120]:
Total_Purchases

   ProductID  Total_Purchases  Purchase_Rank
0         17                2              1
1         15                2              1
2          2                1              3
3         16                1              3

In [ ]:
# ProductID 17 and 15 are Top Performing Products

# Best-performing products per region

In [107]:
sql_7 = """
select B.GeographyID, A.ProductID,
Count(A.CustomerID) AS Total_Purchases
from 
ds_ba.clean_customer_journey A
JOIN
ds_ba.customers B
ON A. CustomerID = B. CustomerID
where A.Action = 'Purchase'
GROUP BY B.GeographyID, A.ProductID
ORDER BY Total_Purchases DESC
"""

In [108]:
curr.execute(sql_7)

In [109]:
Geo_row = curr.fetchall()

In [110]:
Geo_row

[(2, 2, 1), (1, 17, 1), (4, 17, 1), (10, 16, 1), (6, 15, 1), (8, 15, 1)]

In [111]:
curr.column_names

('GeographyID', 'ProductID', 'Total_Purchases')

In [112]:
Geography = pd.DataFrame(Geo_row , columns=curr.column_names)

In [113]:
Geography

   GeographyID  ProductID  Total_Purchases
0            2          2                1
1            1         17                1
2            4         17                1
3           10         16                1
4            6         15                1
5            8         15                1

# Customer Reviews Impact on Purchase count

In [122]:
sql_8 = """
SELECT 
    C.ProductID,
    ROUND(AVG(C.Rating),2) AS Avg_Rating,  -- Average rating rounded to 2 decimal places
    COUNT(DISTINCT CASE WHEN A.Action = 'Purchase' THEN A.CustomerID END) AS Purchase_Count, 
    RANK() OVER (ORDER BY COUNT(CASE WHEN A.Action = 'Purchase' THEN 1 END) DESC) AS Purchase_Rank
FROM ds_ba.customer_reviews C
LEFT JOIN ds_ba.clean_customer_journey A 
    ON C.ProductID = A.ProductID
GROUP BY C.ProductID;
"""

In [123]:
curr .execute(sql_8)

In [124]:
review_row = curr.fetchall()

In [125]:
review_row

[(17, Decimal('3.89'), 2, 1),
 (15, Decimal('4.00'), 2, 2),
 (16, Decimal('3.40'), 1, 3),
 (2, Decimal('3.57'), 1, 4),
 (1, Decimal('4.00'), 0, 5),
 (3, Decimal('3.71'), 0, 5),
 (4, Decimal('3.00'), 0, 5),
 (5, Decimal('4.00'), 0, 5),
 (6, Decimal('3.86'), 0, 5),
 (7, Decimal('2.67'), 0, 5),
 (8, Decimal('5.00'), 0, 5),
 (9, Decimal('3.40'), 0, 5),
 (10, Decimal('3.50'), 0, 5),
 (11, Decimal('4.00'), 0, 5),
 (12, Decimal('3.00'), 0, 5),
 (13, Decimal('3.67'), 0, 5),
 (18, Decimal('4.00'), 0, 5),
 (19, Decimal('4.40'), 0, 5),
 (20, Decimal('4.00'), 0, 5)]

In [126]:
curr.column_names

('ProductID', 'Avg_Rating', 'Purchase_Count', 'Purchase_Rank')

In [128]:
Review = pd.DataFrame(review_row , columns=curr.column_names)

In [129]:
Review

    ProductID Avg_Rating  Purchase_Count  Purchase_Rank
0          17       3.89               2              1
1          15       4.00               2              2
2          16       3.40               1              3
3           2       3.57               1              4
4           1       4.00               0              5
5           3       3.71               0              5
6           4       3.00               0              5
7           5       4.00               0              5
8           6       3.86               0              5
9           7       2.67               0              5
10          8       5.00               0              5
11          9       3.40               0              5
12         10       3.50               0              5
13         11       4.00               0              5
14         12       3.00               0              5
15         13       3.67               0              5
16         18       4.00               0              5
17         19       4.40               0              5
18         20       4.00               0              5

In [137]:
Review_rating = Review.sort_values(by="Purchase_Count", ascending=False)

In [138]:
Review_rating.head()

    ProductID Avg_Rating  Purchase_Count  Purchase_Rank
0          17       3.89               2              1
1          15       4.00               2              2
2          16       3.40               1              3
3           2       3.57               1              4
11          9       3.40               0              5

In [ ]:
# Avg_Rating ( 3 to 4) have more purchases

# Identify Top Performing Customer Segments

In [139]:
sql_9 = """
SELECT 
    CASE 
        WHEN C.Age < 25 THEN '18-24'
        WHEN C.Age BETWEEN 25 AND 34 THEN '25-34'
        WHEN C.Age BETWEEN 35 AND 44 THEN '35-44'
        WHEN C.Age BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+' 
    END AS Age_Group,
    COUNT(*) AS Total_Purchases
FROM ds_ba.clean_customer_journey A
JOIN ds_ba.customers C ON A.CustomerID = C.CustomerID
WHERE A.Action = 'Purchase'
GROUP BY Age_Group
ORDER BY Total_Purchases DESC;
"""

In [140]:
curr .execute(sql_9)

In [141]:
Age_row = curr.fetchall()

In [142]:
Age_row

[('45-54', 2), ('55+', 1), ('25-34', 1), ('35-44', 1), ('18-24', 1)]

In [143]:
curr.column_names

('Age_Group', 'Total_Purchases')

In [144]:
Age_Group = pd.DataFrame(Age_row , columns=curr.column_names)

In [145]:
Age_Group

  Age_Group  Total_Purchases
0     45-54                2
1       55+                1
2     25-34                1
3     35-44                1
4     18-24                1

In [ ]:
# Customers aged 45-54 make the most purchases 18-24 Lowest purchases

# Most Engaged Geographies (Views & Clicks)

In [158]:
sql_10 = """
SELECT 
    C.GeographyID, 
    COUNT(*) AS Total_Interactions
FROM ds_ba.clean_customer_journey A
JOIN ds_ba.customers C ON A.CustomerID = C.CustomerID
WHERE A.Action  IN ('View', 'Click')
GROUP BY C.GeographyID
ORDER BY Total_Interactions DESC
Limit 5;
"""

In [159]:
curr .execute(sql_10)

In [160]:
G_row = curr.fetchall()

In [161]:
curr.column_names

('GeographyID', 'Total_Interactions')

In [162]:
Engaged_Geo = pd.DataFrame(G_row , columns=curr.column_names)

In [163]:
Engaged_Geo

   GeographyID  Total_Interactions
0            4                  14
1            9                  13
2            5                  10
3            7                   8
4            1                   8

In [ ]:
# GeographyID 4 has the highest engagement, meaning users there view & click more.

# This could indicate high interest but possibly low conversion rates.

# Highest-Rated Products & Low-Rated Products

In [51]:
sql_11 = """
SELECT 
    ProductID,  
    AVG(Rating) AS Avg_Rating
FROM ds_ba.customer_reviews
GROUP BY ProductID
ORDER BY Avg_Rating DESC;
"""

In [52]:
curr.execute(sql_11)

In [53]:
Rate_row = curr.fetchall()

In [54]:
Rate_row

[(8, Decimal('5.0000')),
 (19, Decimal('4.4000')),
 (18, Decimal('4.0000')),
 (15, Decimal('4.0000')),
 (1, Decimal('4.0000')),
 (11, Decimal('4.0000')),
 (20, Decimal('4.0000')),
 (5, Decimal('4.0000')),
 (17, Decimal('3.8889')),
 (6, Decimal('3.8571')),
 (3, Decimal('3.7143')),
 (13, Decimal('3.6667')),
 (2, Decimal('3.5714')),
 (10, Decimal('3.5000')),
 (9, Decimal('3.4000')),
 (16, Decimal('3.4000')),
 (4, Decimal('3.0000')),
 (12, Decimal('3.0000')),
 (7, Decimal('2.6667'))]

In [55]:
curr.column_names

('ProductID', 'Avg_Rating')

In [56]:
Product_rating = pd.DataFrame(Rate_row , columns=curr.column_names)

In [57]:
Product_rating.head()

   ProductID Avg_Rating
0          8     5.0000
1         19     4.4000
2         18     4.0000
3         15     4.0000
4          1     4.0000

# Low-Rated Products

In [58]:
Product_rating.tail()

    ProductID Avg_Rating
14          9     3.4000
15         16     3.4000
16          4     3.0000
17         12     3.0000
18          7     2.6667